
h1{
    font-family: 'Gabarito', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    text-shadow: -5px -5px 0 #3B4CCA,  
    5px -5px 0 #3B4CCA,
   -5px  5px 0 #3B4CCA,
    5px  -5px 0 #3B4CCA;
    color:#ffdd00;
    letter-spacing: 3px;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 80px;
    text-align: center;
    margin-bottom: 60px;

}

body{
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    background-color: #363636;
    background-color:#363636;
    margin-bottom: 20%;
    color: white;
    font-size:30unpx;

}

#email, #password{
    width: 20%;
    margin-left:30%;
    font-size:20px;
}


.form-text{
    color:white;
    font-size:20px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.btn.btn-primary{
    background-color: #ffdd00;
    color: #3B4CCA;
    width: 20%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 20px;
    font-size: 26px;
    font-weight: bolder;
    border-radius: 20px;
    border-color: #3B4CCA;
    border-width: 3px;
}

.btn.btn-primary:hover{
    background-color: #3B4CCA;
    color: #ffdd00;
    width: 20%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 20px;
    font-size: 26px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
    border-color: #ffdd00;
    border-width: 3px;
}

.form-label{
    color:white;
    font-size:30px;    
}