nav {
    color:#CE2211;
}

body{
    background-color:#363636;
    background-color:#363636;
    margin-bottom: 20%;
}
button{
    background-color: #CE2211;
}

body{
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    background-color: #363636;
}
