{% extends 'base.html'%}

{% block title %}
Poképedia
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}
  <body>
  <h1>Welcome to Poképedia, Trainer!</h1>
  <h3><i>Prepare yourself for an extraordinary adventure as you step into the captivating realm of Pokémon! Unleash the full potential of your journey by establishing a Trainer account, granting you access to our expansive Poképedia. Immerse yourself in the enchanting universe of Pokémon like never before, where every corner is filled with excitement and discovery. With a multitude of information at your fingertips, embark on a quest to catch 'em all and become the ultimate Pokémon Master! It's time to embrace the challenge, the joy, and the wonder that await you on this epic Pokémon adventure! Gotta catch 'em all!🌟</i></h3>
  <iframe src="https://giphy.com/embed/EDfxEtALVhGjm" width="700" height="350" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </body>
{% endblock %}