{% extends 'base.html'%}

{% block title %}
  Login to Poképedia
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block content %}
  {% include './includes/nav.html'%}
  <h1 class="text-center mt-5 heading">Login to Poképedia</h1>
    <form method="POST">
      {{form.hidden_tag()}}
        <div class="mb-3">
          <label for="email" class="form-label class=w-10 mx-auto mt-5 text-center" id="left-text">Email address</label>
          {{form.email(class='form-control email-input', id='email')}}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-center" id="left-text">Password</label>
          {{form.password (class='form-control password-input', id="password")}}
        </div>
        <div id="emailHelp" class="form-text text-center">We promise not a single Team Rocket member will EVER get their hands on your precious information!🔒</div>
        <button type="submit" class="btn btn-primary mt-2">Enter the Pokémon Center</button>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{%endblock%}